@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
* {
    margin: 0;
    padding: 0;
    
    
    
    
    
}




.container-fluid {
    text-decoration: none;
    height: auto;
  
}





.container-fluid .slider .carousel-inner  {
    width: 100%;
    height: 500px;
    
}

.container-fluid .slider .carousel-inner .img {
object-fit: none;
}

.container-fluid .header {
    height: auto;
    width: 100%;
}

.header .col-5 .p {
    margin-top: 200px;
    font-size: 200px;
}
@media  only screen and (max-width:600px) {
    .container-fluid .slider .carousel-inner  {   
        height: 300px;    
    }   
    
}



@media  only screen and (max-width:1550)  {
    .container-fluid .slider .carousel-inner  {
        width: 650px;
        height: 600px;
        
    }
}


